/*Body*/
*{
    scroll-behavior: smooth;
}

body{
    background-color: #141414;
    color: white;
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
}
ul{
    list-style: none;
}
#sobre-mi,
#habilidades,
#proyectos,
#contacto{
    padding-top: 5em;
}
/*Navbar*/
header{
    display: flex;
    width: 100%;
    height: 5em;
    justify-content: center;
    position: sticky;
    top: 0;
    transition: background-color 0.4s ease-in-out;
    z-index: 1;
}
header.scrolled{
    background-color: white;

}

header.scrolled nav a{
    color: black;
}
header.scrolled nav a:hover{
    color: rgb(20, 184, 166);
}
header a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-size: 30px;
    text-transform: uppercase;
    transition: all ease 0.5s;
}
header a:hover{
    color: rgb(20, 184, 166);
}

/*Main*/
#inicio{
    width: 100%;
    height: 90vh;
}
.inicio{
    display: flex;
    width: 98%;
    height:auto;

}
.inicio-presentacion{
    display: flex;
    flex-direction:row-reverse;
    height: auto;
    width: 100%;
    justify-content: start;
}
.inicio-presentacion img{
    width: auto;
    height: auto;
    margin: auto;
}
.inicio-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70%;
}
.inicio .iconos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.inicio .iconos i{
    padding: 6px 6px;
    color: white;

}
.inicio .iconos i:hover{
    color: #37daa3;
}
/*Sobre mi*/
#sobre-mi{
    width: 100%;
    height: 90vh;
    background-color: #292929;
}
.sobre-mi{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}
.sobre-mi-descripcion{
    width: 100%;

}
/* Sección de habilidades */
#habilidades {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contenedor de habilidades */
.habilidades {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid de iconos */
.habilidades .iconos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 30px;
    width: 50%;
}
.habilidades .iconos i {
    background-color: blue;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    color: white;
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habilidades .iconos i:hover {
    background-color: darkblue;
    transform: scale(1.1);
}
/*Proyectos*/
#proyectos{
    width: 100%;
    height: 90vh;
    background-color: #292929;
}
#proyectos h2{
    text-align: center;
}
.proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: auto;
}
.proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#000000;
    margin: auto;
    width:30%;
    height: 300px;
    border-radius: 30px;
}
.proyecto-informacion{
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proyecto-botones{
    width: 80%;
    height: auto;
}
.proyecto-botones .boton-demo{
    width: 80%;
    display: block;
    background-color: #293d37;
    border-radius: 10%;
    height: auto;
    color: black;
    text-decoration: none;
    transition: all ease 1s;
    margin-right: 10px;
    border: solid 1px white;
}
.boton-demo:hover{
    color: green;
}
/*Contacto*/
#contacto{
    width: 100%;
    height: 85vh;
}
.formulario{
    display: flex;
    flex-direction: column;
    width:75%;
    height: 300px;
    align-items: center;
    background-color: antiquewhite;
}

.formulario input{
    width: 50%;
}
.formulario button{
    color: rgb(55, 65, 81);
    font-size: 20px;
    width: 50%;
    height: 20%;
}
.formulario button:hover{
    color: rgb(96, 165, 250);
}

footer{
    height: 5vh;
}