/*Body*/
*{
    scroll-behavior: smooth;
    scrollbar-color: #37daa3 black;
    scrollbar-width: thin;
}
body{
    background-color: #292929;
    color: white;
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
}
h3{
    padding-left: 10px;
}
ul{
    list-style: none;
    margin-right: 30px;
}
#sobre-mi,
#habilidades,
#proyectos,
#contacto{
    padding-top: 5em;
}
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
.nav-links {
    display: flex;
    list-style: none;
}
/*Navbar*/
header{
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: end;
    position: sticky;
    top: 0;
    background-color: #141414;
    transition: background-color 0.4s ease-in-out;
    z-index: 1;
}
header.scrolled{
    background-color: rgba(34, 34, 34, 0.2);
    backdrop-filter: blur(10px);
}
header.scrolled nav a:hover{
    color: rgb(20, 184, 166);
}
header a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-size: 1.5rem;
    transition: all ease 0.5s;
}
header a:hover{
    color: rgb(20, 184, 166);
}
header nav a.activo {
    color: rgb(20, 184, 166);
}
/*Main*/
#inicio{
    width: 100%;
    min-height: 70vh;
    background-color: #141414;
}
.inicio{
    display: flex;
    width: 98%;
    height:auto;
}
.inicio-presentacion{
    display: flex;
    flex-direction:row-reverse;
    height: auto;
    width: 100%;
    justify-content: start;
}
.inicio-presentacion img{
    width: auto;
    height: auto;
    margin: auto;
}
.inicio-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70%;
}
.inicio .iconos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.inicio .iconos i{
    padding: 6px;
    color: white;
    transition: all ease 0.2s;
}
.inicio .iconos i:hover{
    color: #37daa3;
}

/* Habilidades */
#habilidades {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.habilidades {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.habilidades .iconos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 30px;
    width: 50%;
}
.habilidades .iconos i {
    background-color: #292929;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    color: white;
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
.habilidades .iconos i:hover {
    background-color: rgb(20, 184, 166);
    transform: scale(1.1) !important;
}
/*Proyectos*/
#proyectos{
    width: 100%;
    padding: 4rem 0;
    background-color: #141414;
}
.proyectos{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin: auto;
    justify-content: space-between;
}
.proyecto{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    align-items: center;
    width: 32%;
    height: auto;
    border-radius: 30px;
    box-sizing: border-box;
}
.proyecto img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.proyecto-informacion{
    width: 90%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}
.proyecto-informacion h3{
    text-align: start;
    margin-bottom: 10px;
}
.proyecto-informacion p{
    width: 100%;
    font-size: 14px;
    padding: 5px 0;
    text-align: start;
}
.proyecto-botones{
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
}
.boton-demo{
    width: 100px;
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
    height: 35px;
    line-height: 35px;
    color: white;
    text-decoration: none;
    transition: all ease 0.3s;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-demo:hover{
    background-color: #0a0a0a;
    color: #37daa3;
}
.boton-demo i{
    padding: 5px;
}
/*Contacto*/
#contacto{
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    border: solid 1px #fff;
    border-radius: 10px;
    background-color: rgb(20, 184, 166);
}
.formulario input {
    width: 80%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid #17b4a2;
    background-color: #e0f2f1;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
    transition: border 0.3s ease;
}

.formulario input:focus {
    border-color: #14b8a6;
    outline: none;
}

.formulario input::placeholder {
    color: #555;
    opacity: 0.7;
}
.formulario textarea{
    width: 80%;
    height: 200px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid #17b4a2;
    background-color: #e0f2f1;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
    transition: border 0.3s ease;
}
.formulario textarea:focus {
    border-color: #14b8a6;
    outline: none;
}
.formulario textarea::placeholder {
    color: #555;
    opacity: 0.7;
}
.formulario button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: #17b4a2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: solid 1px white;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 4px;
}
.formulario button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #1cc7b3;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
/*Footer*/
.footer-iconos{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
footer i{
    color: white;
    padding: auto;
    margin: 0px 5px;
}
@media (max-width: 575px) {
    .menu-toggle {
        display: block;
        position: sticky;
        top: 10px;
        right: 10px;
        z-index: 2;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 89%;
        height: 100vh;
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }
    .nav-links.show {
        display: flex;
    }
    .nav-links li {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 15px 5px;
        font-size: 22px;
    }
    .inicio-presentacion {
        flex-direction: column;
    }
    .inicio-presentacion img {
        max-width: 55%;
        height: auto;
    }
    .proyectos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
    }
    .proyecto {
        width: 100%;
        margin-bottom: 15px;
    }
    .habilidades .iconos {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 5px;
        width: 65%;
    }
    .formulario {
        width: 95%;
    }
    .formulario p {
        width: 75%;
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .menu-toggle {
        display: block;
        position: sticky;
        top: 15px;
        right: 15px;
        z-index: 2;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 90%;
        height: 100vh;
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }
    .nav-links.show {
        display: flex;
    }
    .nav-links li {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 20px 5px;
        font-size: 24px;
    }
    .inicio-presentacion {
        flex-direction: column;
    }
    .inicio-descripcion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inicio-presentacion img {
        max-width: 60%;
        height: auto;
    }
    .proyectos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .proyecto {
        width: 100%;
        margin-bottom: 20px;
    }
    .habilidades .iconos {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 15px;
        width: 70%;
    }
    .formulario {
        width: 90%;
    }
    .formulario p {
        width: 80%;
        font-size: 16px;
    }
}
@media (min-width: 768px) and (max-width: 899.98px) {
    .menu-toggle {
        display: block;
        position: sticky;
        top: 15px;
        right: 15px;
        z-index: 1;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 90%;
        height: 100vh;
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }
    .nav-links.show {
        display: flex;
    }
    .nav-links li {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 20px 5px;
        font-size: 24px;
    }
    .inicio-presentacion {
        flex-direction: column;
    }
    .inicio-presentacion img {
        max-width: 80%;
        height: auto;
    }
    .proyectos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .proyecto {
        width: 100%;
        margin-bottom: 20px;
    }
    .habilidades .iconos {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 10px;
        width: 75%;
    }
    .formulario {
        width: 98%;
    }
}
