

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
    background-color: #e5e7eb;
}
/*Header*/
header{
    display: flex;
    flex-direction: column;
}
header nav{
    background-color: #cab2cd;
    height: auto;
    width: auto;
    border-radius:50px;
    align-self: center;
    margin: 10px 0px;
}
.header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.header-nav ul li{
    margin: 10px 8px;
}
.header-nav a{
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    color: black;
    transition: all 0.4s ease;
}
.header-nav a:hover{
    color: white;
}
.header-hero{
    display: flex;
    justify-content: center;
}
.header-hero div{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 80%;
    background-color: #8c61b8;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.header-presentacion{
    font-size: 28px;
}

.header-hero a i{
    color: white;
    font-size: 26px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #8c61b8;
    transition: all 0.5s ease;
}
.header-hero i:hover{
    color: #8c61b8;
    background-color: white;
}
/*Main*/
main{
    display: flex;
    flex-direction: column;

}
main h2{
    text-align: center;
    color: white;
}
main .main-proyectos{
    width: 80%;
    align-self: center;
    background-color: #8c61b8;
}
main .main-proyectos .proyectos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #8c61b8;
    padding-right: 20px;
}
main .main-proyectos .proyectos .proyectos-proyecto{
    padding: 12px;
    justify-content: end;
}
main .main-proyectos .proyectos .proyectos-proyecto h4{
    color: #fff;
    font-size: 18px;
}
main .main-proyectos .proyectos .proyectos-proyecto p{
    width: 80%;
}
main .main-tecnologias{
    background-color: #8c61b8;
    width: 80%;
    align-self: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
/*Footer*/